<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Beer Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <div class="card">
      <div class="card-img">
        <img alt="Image of some Beer" src="{{ beer[0].image_url }}" />
      </div>

      <ion-card-header>
        <ion-card-title>Name: {{ beer[0].name }}</ion-card-title>
        <ion-card-subtitle>ABV: {{ beer[0].abv }}</ion-card-subtitle>
        <ion-card-subtitle>Tagline: {{ beer[0].tagline }}</ion-card-subtitle>
        <ion-card-subtitle
          >First brewed: {{ beer[0].first_brewed }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> {{ beer[0].description }} </ion-card-content>
      <div class="card-buttons">
        <ion-button fill="outline" (click)="addToFavorite()"
          >Add to Favorite
          <ion-icon slot="end" name="heart"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
