<ion-card>
  <div class="card">
    <div class="card-img">
      <img alt="Image of some Beer" src="{{ beer.image_url }}" />
    </div>

    <ion-card-header>
      <ion-card-title>ABV: {{ beer.abv }}</ion-card-title>
    </ion-card-header>
    <div class="card-buttons">
      <ion-button fill="outline" [routerLink]="['/beer-page', value]"
        >See More</ion-button
      >
      <!-- <ion-button fill="outline">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button> -->
    </div>
  </div>
</ion-card>
